header{
    background-color: wheat;
    display: grid;
    grid-template: 
    'logo user-nav'
    'search search';
    gap: 10px;
    padding: 10px;
    .logo{
        grid-area: logo;
        a{
            svg{
                color: var(--color-primary);
            }
        }
    }
    search{
        grid-area: search;
        form{
            display:flex;
            padding: 5px;
            border: 1px solid ;
            border-radius: 28px;

            input{
            flex: 1;
            border: none;
            padding: 5px;
            font-size: var(--fs-sm);
            background-color: transparent;
               
               &:focus{
                outline: none;
               }
               &::placeholder{
                color: black;
               } 
            }
            
            button{
               display: flex;
               align-items: center;
               border:none;
               background-color: transparent
               ;
               padding-left: 5px;
               cursor: pointer;
            }
       
        }
        
        
    }
    nav {
        grid-area: user-nav; 
        ul.user-actions{
            display: flex;
            justify-content: end;
            gap: 10px;

            li{
                transition:0.3s ease;
            }
            li:hover{
                background-color: black;
            }
            li:hover svg,li:hover span{
                color: chartreuse;
            }
            .log-in{
                display: flex;
                align-items: center;
                gap: 5PX;

                span{
                    color: black;
                    font-size: var(--fs-sm);
                    font-weight: 600;
                }
            
            }
        }
    }
    
}


@media (min-width: 576px) {
    header{
        padding: 10px 30px;
       
    }
}
@media  (min-width: 768px) {
   header{
        gap: 30px;
        grid-template: "logo search user-nav";
        grid-template-columns: 1fr 10fr; 
        justify-content: space-between;
        align-items: center;
    }
    
}
@media  (min-width: 992px) {
   
}
@media  (min-width: 1200px) {
    
}
@media  (min-width: 1400px) {
   
}