/* Breakpoint reference */
:root {
    /* Devices */
    --mobile: 576px;
    --tablet: 768px;
    --laptop: 992px;
    --desktop: 1200px;
    --large: 1400px;

    /* Font size */
    --fs-xs: clamp(0.75rem, 0.5vw + 0.5rem, 1rem);
    --fs-sm: clamp(0.875rem, 0.75vw + 0.75rem, 1.25rem);
    --fs-md: clamp(1rem, 1vw + 1rem, 1.5rem);
    --fs-lg: clamp(1.25rem, 1.25vw + 1.25rem, 2rem);
    --fs-xl: clamp(1.5rem, 1.5vw + 1.5rem, 2.5rem);
    --fs-2xl: clamp(1.75rem, 1.75vw + 1.75rem, 3rem);
    --fs-3xl: clamp(2rem, 2vw + 2rem, 3.5rem);

    /* Colors */
    --color-primary:rgba(94, 169, 19, 0.888);
}
*{
     padding: 0%;
     margin: 0%;
     list-style: none;
     text-decoration: none;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     padding: 0;
     margin: -1px;
     overflow: hidden;
     clip: rect(0, 0, 0, 0);
     white-space: nowrap;
     border: 0;
 }
 svg{
    color: black;
 }
 .icon svg{
    width: 25px;
     
 }

@media (min-width: 576px) {
    
}
@media  (min-width: 768px) {
   .icon svg{
       width: 30px;
    }
    
}
@media  (min-width: 992px) {
   
}
@media  (min-width: 1200px) {
    
}
@media  (min-width: 1400px) {
   
}

